/* RESET Limpiar la web */
* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    height: 100px;
    /* Altura del Header */
    background: #0e3bb4;
    /* Fondo del Header */
    padding: 0 50px;
    /* Queda mas centrado, inferior y superior 0, izquierda y derecha 50px */
    color: #fff;
    /* Col|or de Letra */
    display: flex;
    /* Quete todo ordenado uno a la par del otro */
    justify-content: space-between;
    /* Se acomode mejor y queden separados */
    align-items: center;
    /* quede todo centrado */
}

.logo {
    text-transform: uppercase;
    /* Pone todo el texto en mayuscula */
    color: #43c6cf;
    /* Color texto */
    font-weight: 200;
    /* Grosor del Texto */
}

.menu a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    /* Quitar diseno, en este caso el subrayado */
    padding: 0 10px;
    transition: 0.45s;
    /* Retarda el Efecto un instante */
}

.mostrar-menu,
.esconder-menu {
    font-size: 30px;
    cursor: pointer;
    /* Para mostrar el cursor por encima del menu */
    display: none;
    transition: 0.4s;
    /* Retarda el Efecto un instante */
}

.mostrar-menu {
    order: 1;
    /* Pasarlo al inicio */
}

/* Al pasar el mouse cambie de color */
.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover {
    color: #43c6cf;
}


#check {
    display: none;
}

/* BANNER */

#banner {
    padding: 0 50px;
    background-image: url(../imagenes/banner-estudiantes_0.jpg);
    /* POner imagen de fondo */
    height: 50vh;
    /* El contenido va a tener una altura de 50% del alto de la ventana */
    background-size: cover;
    /* para que lo cubra todo */
    background-position: center;
    /* Centra la imagen */

}

#banner::before {
    /* es un elemento virtual que se genera automaticamente antes del contenido real
    del elemento, se usa para efectos decorativos */
    content: '';
    /* Esto es obligatorio para que funciono, ya que si no, no aparece la decoracion */
    background: rgba(77, 77, 92, 0.6);
    position: absolute;
    /* Permite que la capa se pegue al banner */
    width: 100%;
    /* Permite que cubra todo el area del banner*/
    height: 50vh;
    /*abarque el 50% de la pagina */
    left: 0;

}

/* Acomodar el contenido del banner por encima de la capa oscura */
.contenido-banner {
    position: relative;
    /* el contenido se posiciona de forma relativa dentro del contenedor
    y nos permite ubicarlo encima */
    color: #fff;
    height: 100%;
    /*ocupa el 100% del contenedor */
    display: flex;
    flex-direction: column;
    /*Colocar los elementos uno debajo del otro */
    justify-content: center;

}

.contenido-banner h3 {
    font-size: 30px;
    font-weight: 400;
    padding: 10px 0px;
}

.contenido-banner h3 span {
    font-weight: 600;
}

.boton-empezar {
    text-decoration: none;
    color: #FFF;
    border: 1px solid #43c6cf;
    padding: 20px 40px;
    align-self: baseline;
    /*En Flexbox, alinea el boton en el inicio*/
    transition: all 0.4s;
}

.boton-empezar:hover {
    background: #43c6cf;
}

/* PERSONAS */

#personas {
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#personas img {
    border-radius: 100%;
    /* Trasforma la imagen cuadrada en circular */
}

#personas div {
    padding: 30px 30px;
}

#personas div h4 {
    color: #0e3bb4;
    font-size: 20px;
    margin: 20px 0px;
}

#personas div p {
    color: #4d4d5c87;
    font-size: 18px;
}

.boton-saber-mas {
    display: inline-block;
    /* Se comporta como un bloque en linea */
    text-decoration: none;
    color: #43c6cf;
    padding: 10px 30px;
    border: 3px solid #43c6cf;
    border-radius: 30px;
    margin-top: 15px;
    transition: all 0.4s;
}

.boton-saber-mas:hover {
    background: #43c6cf;
    color: #fff;
}

/* ICONOS */

#iconos {
    padding: 0px 50px;
    background: rgb(77, 77, 92, 0.6);
}

.contenido-iconos {
    padding: 50px 50px 0px 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.contenido-iconos div {
    flex: 1;
    /* Para que cada objeto ocupe siempre su lugar */
    margin: 20px 0px;
    border-right: 2px solid rgba(255, 255, 255, 0.2);
}

.contenido-iconos div i {
    color: #6cc091;
}

.contenido-iconos div h6 {
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    margin: 10px 0px;
}

.contenido-iconos div p {
    color: rgba(255, 255, 255, 0.55);
    font-size: 15px;
}

.boton-iconos {
    text-align: center;
    padding-bottom: 50px;
}

#icono-mobile {
    border: none;
}

/* Formulario */

#contacto {
    background: #4d4d5c;
    padding: 50px 0px;
    color: #fff;
}

#contacto h4 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

#contacto form {
    max-width: 80%;
    margin: 0 auto;
}

.datos-form {
    display: flex;
}

.datos-form div {
    padding: 10px;
    flex: 1;
}

form input,
form textarea {
    background: #43c6cf;
    border-radius: 10px;
    border: 2px solid #8dcca9;
    padding: 10px 5px;
    outline: 1;
    /* dibuja un borde externo alrededor del elemento*/
    color: #fff;
    width: 100%;

}

form input:focus,
form textarea:focus {
    border-color: #d4eb05;
    box-shadow: 0 0 0 1px #d4eb05;
}

form input::placeholder,
form textarea::placeholder {
    color: #fff;
}

.mensaje {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.boton-formulario {
    display: block;
    text-align: center;
}

footer {
    background: #0e3bb4;
    color: #fff;
    text-align: center;
    padding: 10px 0 px;
}